<%= render 'layouts/styling' %>

<h1><%= @school.name %></h1>

<div><%= @school.city%>, <%= @school.state%></div>

<p> <%= link_to "See All Playlists", school_playlists_path(@school)%> 
<p> <%= link_to "Add a Playlist", new_school_playlist_path(@school)%> 

<h2>Playlist Titles:</h2>
<% @school.playlists.each do |h|%>
<li><strong><%= link_to h.title, playlist_path(h)%></li>
<% end %>


