

   <% if @playlist.school %>
   <%= p.hidden_field :school_id %>
  <% else %>
    <%= p.label :school_id, "Find your School" %>
    <%= p.collection_select :school_id, School.all, :id, :name %>
  
   <% end %>



 <%= p.label :title, "Title" %>
 <%= p.text_field :title %>
 <br>
 <br>
 <%= p.label :date, "What day is it?" %>
 <%= p.date_field :date, {order: [:month, :day, :year], date_separator: "/", prompt: { month: 'mm', day: 'dd', year: 'yyyy'}, }%>
 <br>
 <br>
 <p> Songs  </p>
 <%= p.fields_for :songs do |jam| %>
    <%= jam.label :artist %> 
    <%= jam.text_field :artist %> 
   
    <%= jam.label :tune, "Title" %>
    <%= jam.text_field :tune %>
    <br>
 <% end %>
 <br>
 <br>
 <%= p.label :ratings, "Rating from 1-5"%>
 <%= p.number_field :ratings, min: 0, max: 5%>
 <br>

 <br>
 
 


