

<h1>Edit Playlist</h1>

<%= form_for(@playlist) do |p|%>

 <%= p.label :title %>
 <%= p.text_field :title %>
 <br>
 <br>
 <%= p.label :date %>
 <%= p.date_field :date %>
 <br>
 <br>
 <%= p.label :songs %>
 <%= p.text_area :songs , :rows => 10%>
 <br>
 <br>
 <%= p.label :ratings %>
 <%= p.number_field :ratings %>
 <br>
 <br>
 <%#= p.hidden_field :playlist_id %>
 <%= p.submit %>
 <%= %>
<% end %>