<h1>Create Playlist</h1>

<%= flash[:message] if flash[:message]%>

<%= form_for(@playlist) do |p|%>

 <%= p.label :title, "Title" %>
 <%= p.text_field :title %>
 <br>
 <br>
 <%= p.label :date, "What day is it?" %>
 <%= p.date_field :date %>
 <br>
 <br>
 <p> Songs  </p>
 <%= p.fields_for :songs do |jam| %>
    <%= jam.label :artist %> 
    <%= jam.text_field :artist %> 
   
    <%= jam.label :tune, "Title" %>
    <%= jam.text_field :tune %>
    <br>
 <% end %>
 <br>
 <br>
 <%= p.label :ratings, "Rating from 1-5"%>
 <%= p.number_field :ratings, min: 0, max: 10%>
 <br>
 <br>
 
 <%= p.submit %>

<% end %>

