<%= render 'layouts/styling' %>



<% if @playlist.school %>
<h1>New Playlist for <%= @playlist.school.name %></h1>
<% else %>
<h1>Create Playlist</h1>
<% end %>

<%= render partial: "layouts/errors", locals: {object: @playlist} %>


<% puts "Playlist: #{@playlist}" %>

<%= form_for(@playlist) do |p|%>

 <%= render partial: 'playlists/form', locals: {p: p} %>

 <%= p.hidden_field :user_id, :value => current_user.id %>

 <%= p.submit %>
<% end %>
