<%= render 'layouts/styling' %>


<h1>Playlist</h1>



<h1>Title :<%= @playlist.title %></h1>
<div>Date :<%= @playlist.date %></div>

 
<h2>Songs:</h2>
<% @playlist.songs.each do |jam| %>
  <li><%= jam.artist%> - <%=  jam.tune%></li>
<% end %>


<div><strong>Rating :</strong> <%= @playlist.ratings%></div>

<% if @playlist.user == current_user %>
  <%= link_to "Edit Playlist", edit_playlist_path(@playlist) %>
  <%= link_to "Delete Playlist", playlist_path(@playlist), method: :delete  %>
<% end %>