<h1>Playlist</h1>



<h1><%= @playlist.title %></h1>
<div><%= @playlist.date %></div>

 
<h2>Songs:</h2>
<% @playlist.songs.each do |jam| %>
  <li><%= link_to jam.artist, song_path(jam)%> - <%= link_to jam.tune, song_path(jam)%></li>
<% end %>


<div> <%= @playlist.rating %></div>

<% if @playlist.user == current_user %>
  <%= link_to "Edit Playlist", edit_playlist_path(@playlist) %>
  <%= link_to "Delete Playlist", playlist_path(@playlist), method: :delete  %>
<% end %>