<%= render 'layouts/styling' %>


<h1><%= @playlist.school.name %>'s Playlist</h1>



<h1>Title :<%= @playlist.title %></h1>
<div>Date :<%= @playlist.date %></div>

 
<h2>Songs:</h2>
<% @playlist.songs.each do |jam| %>
  <li><%= jam.artist%> -<%=  jam.tune%></li>
<% end %>

<div><strong><h3>Rating :</h3> <%= @playlist.ratings%></strong></div>
<br>
<br>
<% if @playlist.user == current_user %>
  <%= link_to "Edit Playlist", edit_playlist_path(@playlist) %>
  <%= button_to "Delete Playlist", playlist_path(@playlist), method: :delete  %>
<% end %>

</div>