<h1></h1>

<h1>Recent Playlist</h1>

<p> <%= @playlist.title %></p>
<p> <%= @playlist.date %></p>

<p> 
<ul>
<% @playlist.songs.each do |jam| %>
  <li><%= "#{jam.artist} - #{jam.tune}" %></li>
<% end %>
</ul>
</p>
<p> <%= @playlist.rating %></p>

<% if @playlist.user == current_user %>
  <%= link_to "Edit Playlist", edit_playlist_path(@playlist) %>
  <%= link_to "Delete Playlist", playlist_path(@playlist), method: :delete  %>
<% end %>