<!DOCTYPE html>
<html>
  <head>
    <title>Homecoming</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
   <% if logged_in?%>
    <%= link_to "Logout", logout_path, method: "delete"%>
    <br>
    <%= link_to "Create playlist", new_playlist_path%>
    <br>
    <%= link_to "Edit playlist", edit_playlist_path %>
    <br>
    <%= link_to "See playlist", playlists_path %>
    <br>
    <%= link_to "Edit School", edit_school_path %>
    <br>
    <%= link_to "Add School", new_school_path%>
    <br>
    <%= link_to "See all the Schools", schools_path%>
    <br>
   <% else %>
    <%= link_to "Sign Up", signup_path %>
    <br>
    <%= link_to "Log In", login_path %>
    <br>
   <% end %>
  </div>
    <%= yield %>
  </body>
</html>
